
{% block content %}
    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-circle" id="img_logo" src="{{ assets_dir }}/img/login.jpg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Logg inn med epost og passord</span>
                            </div>
                            <input id="login_email" class="form-control" type="text" placeholder="Epost" required>
                            <input id="login_password" class="form-control" type="password" placeholder="Passord" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Husk meg
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Logg inn</button>
                            </div>
                            <div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Glemt Passord?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Registrer deg</button>
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->

                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Legg inn eposten din og vi sender deg et nytt passord</span>
                            </div>
                            <input id="lost_email" class="form-control" type="text" placeholder="E-post" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Få nytt passord</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Logg inn</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Registrer deg</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Lost Password Form -->

                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Registrer deg hos {{ site_name }}.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Brukernavn">
                            <input id="register_email" class="form-control" type="text" placeholder="E-post" required>
                            <input id="register_firstname" class="form-control" type="text" placeholder="Fornavn" required>
                            <input id="register_lastname" class="form-control" type="text" placeholder="Etternavn" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Passord" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Registrer meg!</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Logg inn</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Glemt passord?</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Register Form -->

                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->

    <!-- login modal JS -->
    <script type="text/javascript" src="{{ assets_dir }}/js/login_modal.js"></script>

{% endblock %}
